@{
  ViewBag.Title = "Otter knowledge base and wiki";
}
<h1>Search the knowledge base</h1>
@using (Html.BeginForm("Search", "Article", FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
  <div class="search">
    <input type="text" name="query" class="form-control" autofocus />
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
}
@section head
{
  <style type="text/css">
    nav.navbar {
      margin-bottom: 0;
    }

    footer {
      margin-top: 0;
    }

    .main-content {
      background-color: #34B7B2;
    }

    h1 {
      text-align: center;
      color: #fff;
      margin: 100px 0 0.5em 0;
      font-weight: normal;
    }

    .search {
      margin-bottom: 100px;
      text-align: center;
      display: block;
    }

    #otter-navbar-search-form {
      display: none;
      visibility: collapse;
    }

    @@media (min-width: 768px) {
      .form-control {
        width: 300px !important;
      }
    }
  </style>
}