@model Otter.Mvc.Models.ArticleReadModel
@{
  ViewBag.Title = Model.Title;
}
<h1>@ViewBag.Title</h1>
<div class="actions">
  @Html.ActionLink("Create new article", "Create")
</div>
<div class="content">
  @Html.Raw(Model.Content)
</div>
