html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  font-size: .85em;
  font-family: Helvetica, Sans-Serif;
}
.top {
  background-color: #34B7B2;
  color: #fff;
  text-align: center;
}
.home-top {
  padding: 20px 0;
}
.inner-top {
  padding: 10px 0;
}
.header {
  display: table;
  width: 1000px;
  margin: 0 auto;
}
.header-logo, .header-links {
  display: table-cell;
  vertical-align: middle;
}
.header-logo {
  text-align: left;
}
.header-links {
  text-align: right;
}
.header-links form {
  display: inline-block;
  margin-left: 30px;
}
.header-links a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 30px;
  padding: 10px;
}
.header-links a.button {
  border: 1px solid #fff;
}
.header-links a.normal:hover {
  text-decoration: underline;
}
.header-links a.button:hover {
  background-color: #43C1C0;
}
.home-tagline {
  font-size: 3em;
  margin: 100px 0 0.5em 0;
}
.home-search {
  padding-bottom: 100px;
}
.home-search input {
  padding: 10px 20px;
  font-size: 1.5em;
}
#home-query {
  width: 300px;
}
#home-submit, .query-submit {
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
}
#home-submit:hover, .query-submit:hover {
  background-color: #43C1C0;
}
.query-search {
  color: #999;
}
.main-content {
  margin: 2em;
}
.home-footer {
  margin: 2em;
  font-size: 1.25em;
  color: #999;
  text-align: center;
}
#footer {
  padding: 1em;
  color: #999;
  text-align: center;
  border-top: 3px solid #34B7B2;
}
code {
  font-family: Consolas, Monospace;
}
textarea {
  min-height: 75px;
}
.editor-label {
  margin: 1em 0 0 0;
  font-weight: bold;
}
.editor-field {
  margin: 0.5em 0 0 0;
}
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
h1.title {
  color: #326463;
  font-size: 2.5em;
  padding: 0.6em 0;
  font-weight: normal;
  margin: 0;
}
h1.no-tags {
  border-bottom: 1px solid #326463;
}
h1.with-tags {
  padding-bottom: 0.5em;
}
div.actions {
  float: right;
  margin-top: 0.6em; /* same as h1.title */
}
div.actions a, div.edit-actions a, div.edit-actions input[type="submit"] {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #326463;
  color: #326463;
  text-decoration: none;
  text-transform: uppercase;
}
div.actions a:hover, div.edit-actions a:hover, div.edit-actions input[type="submit"]:hover {
  background-color: #326463;
  color: #fff;
}
.authorship {
  margin-top: 2em;
  color: #34B7B2;
  font-style: italic;
  text-align: center;
}
table.grid {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table.grid td, table.grid th {
  border: 1px solid #ddd;
  padding: 3px 6px;
}
ul.tags {
  list-style-type: none;
}
ul.article-tags {
  border-bottom: 1px solid #326463;
  padding: 0 0 1.5em 0;
  margin: 0;
}
ul.tags li {
  display: inline;
  margin-right: 1em;
}
ul.tags a {
  border-width: 1px;
  border-color: #326463;
  border-style: solid;
  padding: 2px 4px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-outline-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #326463;
  text-decoration: none;
}
ul.tags a:hover {
  color: #fff;
  background-color: #326463;
}
.search-result-details {
  color: #999;
  margin-left: 2em;
  font-size: 0.8em;
}
a.select-all {
  display: block;
  padding: 2px 4px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #666;
  float: right;
  font-size: 11px;
}
pre.prettyprint {
  margin-bottom: 0;
}
input.permission-option {
  margin-left: 1em;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
table.security td {
  margin: 0;
  padding: 0;
}
.ui-autocomplete-loading {
  background-image: url('images/ajax-loader.gif');
  background-position: right center;
  background-repeat: no-repeat;
}
blockquote {
  border-style: solid;
  border-color: #666;
  border-width: 1px 1px 1px 4px;
  background-color: #f9f9f9;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
table.content-table td, table.content-table th {
  border: 1px solid #ccc;
  padding: 2px 6px;
}
table.content-table th {
  background-color: #eee;
}

@media print {
  .inner-top, .no-print, #footer {
    display: none;
  }
}
