#tag-list {
  width: 100%;
  display: table;
}
#tag-list ul {
  display: table-cell;
  vertical-align: top;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tag-list li {
  margin: 10px 0;
  padding: 0;
}
#sort-links {
  margin-bottom: 1em;
}
#sort-links a {
  margin-right: 20px;
}
#tag-list ul a {
  border: 1px solid #326463;
  padding: 2px 4px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-outline-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #326463;
  text-decoration: none;
}
#tag-list ul a:hover {
  color: #fff;
  background-color: #326463;
}
