html {
  margin: 0;
  padding: 0;
}
body {
  font-size: .85em;
  font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
  background-color: #fff;
  padding: 0;
  margin: 1em 50px;
}
#header {
  overflow: hidden;
  margin-bottom: 1em;
}
#header a#add-article-link {
  display: block;
  float: left;
}
#header form#search-form {
  display: block;
  float: right;
}
#footer {
  clear: both;
  margin-top: 1em;
  border-top: 1px solid #d9d9d9;
}
h1.title {
  font-family: Georgia, "Times New Roman", Serif;
  border-width: 1px 0;
  border-style: solid;
  border-color: #d9d9d9;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0.6em 0;
  font-weight: normal;
  margin: 0;
}
div#search {
  margin: 1em 0 10px 0;
  text-align: right;
}
div.actions {
  float: right;
  padding: 1em 1em 0 1em;
  margin: 1em 0 1em 1em;
  border: 1px solid #d9d9d9;
}
div.actions a {
  display: block;
  margin-bottom: 1em;
}
.authorship {
  font-style: italic;
  font-size: 85%;
  color: #333;
}
table.grid {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table.grid td, table.grid th {
  border: 1px solid #ddd;
  padding: 3px 6px;
}