html {
  margin: 0;
  padding: 0;
}
body {
  font-size: .85em;
  font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
  background-color: #fff;
  padding: 0;
  margin: 1em 50px;
}
code {
  font-family: Consolas, Monospace;
}
textarea {
  min-height: 75px;
}
.editor-label {
  margin: 1em 0 0 0;
  font-weight: bold;
}
.editor-field {
  margin: 0.5em 0 0 0;
}
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
#header {
  overflow: hidden;
  margin-bottom: 1em;
}
#header a#add-article-link {
  display: block;
  float: left;
}
#header form#search-form {
  display: block;
  float: right;
}
#footer {
  clear: both;
  margin-top: 1em;
  border-top: 1px solid #d9d9d9;
}
h1.title {
  font-family: Georgia, "Times New Roman" , Serif;
  border-width: 1px 0;
  border-style: solid;
  border-color: #d9d9d9;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0.6em 0;
  font-weight: normal;
  margin: 0;
}
h1.with-tags {
  border-bottom-width: 0;
  padding-bottom: 0.5em;
}
div#search {
  margin: 1em 0 10px 0;
  text-align: right;
}
div.actions {
  float: right;
  margin-top: 0.6em; /* same as h1.title */
}
.authorship {
  font-style: italic;
  font-size: 85%;
  color: #333;
}
table.grid {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table.grid td, table.grid th {
  border: 1px solid #ddd;
  padding: 3px 6px;
}
ul.tags {
  list-style-type: none;
}
ul.article-tags {
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 1.5em 0;
  margin: 0;
}
ul.tags li {
  display: inline;
  margin-right: 1em;
}
ul.tags a {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 2px 4px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-outline-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: Black;
  text-decoration: none;
}
ul.tags a:hover {
  color: #fff;
  background-color: #000;
}
.search-result-details {
  color: #999;
  margin-left: 2em;
  font-size: 0.8em;
}
a.select-all {
  display: block;
  padding: 2px 4px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #666;
  float: right;
  font-size: 11px;
}
pre.prettyprint {
  margin-bottom: 0;
}
input.permission-option {
  margin-left: 1em;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
table.security td {
  margin: 0;
  padding: 0;
}
.ui-autocomplete-loading {
  background-image: url('images/ajax-loader.gif');
  background-position: right center;
  background-repeat: no-repeat;
}
blockquote {
  border-style: solid;
  border-color: #666;
  border-width: 1px 1px 1px 4px;
  background-color: #f9f9f9;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
table.content-table td, table.content-table th {
  border: 1px solid #ccc;
  padding: 2px 6px;
}
table.content-table th {
  background-color: #eee;
}